# Ignore node_modules folder
frontend/node_modules/

# Ignore _pycache_ folder
backend/__pycache__/
backend/db/__pycache__/
backend/services/__pycache__/
backend/auth/__pycache__/
backend/.env

# Ignore db
backend/api-seguridad.db