<app-navbar></app-navbar>

<div class="table-container">

	<h1 class="component-title">All Passwords</h1>

	<main class="py-4">
		<div class="container">
			<table class="table table-striped" mat-table [dataSource]="rows">

				<ng-container matColumnDef="name">
					<th mat-header-cell class="text-white text-center align-middle" *matHeaderCellDef>App Name</th>
					<td mat-cell class="text-center align-middle" *matCellDef="let row">{{ row.app_name }}</td>
				</ng-container>

				<ng-container matColumnDef="username">
					<th mat-header-cell class="text-white text-center align-middle" *matHeaderCellDef>Username</th>
					<td mat-cell class="text-center align-middle" *matCellDef="let row">{{ row.username }}</td>
				</ng-container>

				<ng-container matColumnDef="password">
					<th mat-header-cell class="text-white text-center align-middle" *matHeaderCellDef>Password</th>
					<td mat-cell class="text-center align-middle" *matCellDef="let row">{{ row.password }}</td>
				</ng-container>

				<tr mat-header-row class="bg-dark text-light" *matHeaderRowDef="['name', 'username', 'password']"></tr>
				<tr mat-row *matRowDef="let row; columns: ['name', 'username', 'password']"></tr>
			</table>

			<div *ngIf="rows.length === 0" class="text-center">
				<p>No passwords found</p>
			</div>

		</div>
	</main>

</div>